
/examples/SharedResources/bin-debug
/examples/SharedResources/html-template
/examples/ControlMenu/bin-debug
/examples/.metadata
/examples/DeviceMotion/bin-debug
/examples/ControlSchemes/bin-debug

#OS X Specific Ignores
.DS_Store

/examples/Cookies/bin-debug
/examples/SharedResources/control-art/CS5ControlArt.html
/examples/SharedResources/control-art/CS5ControlArt.swf
/examples/TrialMode/bin-debug
/examples/TrialMode/html-template
/examples/HostSession/bin
/examples/TrialMode/bin-debug
/examples/Invawayders/bin-debug
/examples/Invawayders/bin-release
/asdoc